<footer class="text-center text-lg-start text-grey">
  <section class="d-flex justify-content-between p-4">
    <div class="me-5">
      © 2024 | Hecho por Laura Cedano usando
      <a class="text-black" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
    <div>
      <a href="" class="text-black me-4">
        <i class="bi bi-facebook"></i>
      </a>
      <a href="" class="text-dark me-4">
        <i class="bi bi-twitter-x"></i>
      </a>
      <a href="" class="text-dark me-4">
        <i class="bi bi-instagram"></i>
      </a>
      <a href="" class="text-dark me-4">
        <i class="bi bi-github"></i>
      </a>
    </div>
  </section>
</footer>