<header class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="/images/logo-tienda-pucmm.png" alt="Logo" width="100" height="50">
    </a>
    <div class="collapse navbar-collapse justify-content-end">
      <ul class="navbar-nav">
        <li class="nav-item">
        <a href="/" class="btn btn-outline-dark" id="btn-login">
          <i class="bi bi-house" style="margin-right: 2px; vertical-align:middle"></i> Inicio
        </a>
        </li>
        <li class="nav-item">
          <a href="/tienda" class="btn btn-outline-dark" id="btn-login">
          <i class="bi-shop-window" style="margin-right: 2px; vertical-align:middle"> </i>  Ver tienda
        </a>
        </li>
        <li class="nav-item">
          <a href="/carrito" class="btn btn-outline-dark" id="btn-login">
            <i class="bi-cart" style="margin-right: 2px; vertical-align:middle"></i> Mi Carrito
            <span id="cart-count" class="badge bg-secondary">0</span>
          </a>
        </li>
      </ul>
      <button type="button" id="btn-login" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#loginModal">
        <i class="bi bi-person"></i> Iniciar sesión
      </button>
    </div>
  </div>
</header>