<nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand me-2" href="#">
      <img src="images/logo-tienda-pucmm.png" height="100" alt="Logo Tienda Pucmm" loading="lazy"
        style="margin-top: -1px;" />
    </a>
    <button data-mdb-collapse-init class="navbar-toggler" type="button" data-mdb-target="#navbarButtonsExample"
      aria-controls="navbarButtonsExample" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarButtonsExample">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      </ul>
      <div class="d-flex align-items-center">
        <a href="/" class="btn btn-outline-dark" id="btn-login">
          <i class="bi bi-house" style="margin-right: 2px; vertical-align:middle"></i> Inicio
        </a>
        <button type="button" id="btn-login" class="btn btn-outline-dark" data-bs-toggle="modal"
          data-bs-target="#loginModal">
          <i class="bi bi-person" style="margin-right: 2px; vertical-align:middle"></i> Iniciar sesión
        </button>
        <a href="/tienda" class="btn btn-outline-dark" id="btn-login">
          <i class="bi-shop-window" style="margin-right: 2px; vertical-align:middle"> </i>  Ver tienda
        </a>
      </div>
    </div>
  </div>
</nav>