<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="images/main-banner-1.png" class="d-block w-100" alt="Slide 1">
    </div>
    <div class="carousel-item">
      <img src="images/main-banner-2.png" class="d-block w-100" alt="Slide 2">
    </div>
  </div>
</div>
{{> formRegistro}}
{{> loginModal}}
