<header class="bg-white shadow-sm p-3 mb-4">
  <div class="container d-flex justify-content-between align-items-center">
    <div class="logo">
      <a href="/admin/dashboard">
        <img src="/images/logo-tienda-pucmm.png" alt="Logo" width="100">
      </a>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item">
              <a class="nav-link active" href="/admin/dashboard">
                <i class="bi bi-house"></i> Inicio
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/actividad">
                <i class="bi bi-journal-text"></i> Registro de Actividad
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/productos">
                <i class="bi bi-box"></i> Administrar Productos
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="sign-out">
      <a href="/auth/logout" class="btn btn-outline-danger">
        <i class="bi bi-box-arrow-right"></i> Cerrar Sesión
      </a>
    </div>
  </div>
</header>
